{% extends 'ams/layouts/main.html' %}
{% block title %}
    AMS
{% endblock %}
{% block content %}
    {% load static %}
    <div class="block">
        <h1 style="text-align: center"><b>Welcome to Punch Portal</b></h1>
    </div>
    <br/>
    <div class="block box-body table-responsive no-padding">
        <table class="table table-hover">
            <tr>
                <td style="width: 50%"><a href="egroupware/">Go to Egroupware</a></td>
                <td style="width: 50%">Wi-Fi Passwords:</td>
            </tr>
            <tr>
                <td><a href="https://punchvn.atlassian.net/wiki/spaces/hanoi/pages/549271/Skype+list">View list Skype</a></td>
                <td><ul> <li>EA-CORP: yP0MBxcdsL$x7K1G</li> </ul> </td>
            </tr>
            <tr>
                <td><a href="dms/searchdevice.php">Go to DMS</a></td>
                <td><ul> <li>EA-PUB: jBjEH#9y5fj9</li> </ul></td>
            </tr>
            <tr>
                <td><a href="ams/">Go to AMS</a></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div></div>
{% endblock %}